<!-- ======= TopBar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">

        <div class="contact-info d-flex align-items-center">
            <i class="fa-solid fa-phone d-flex align-items-center"><span>+55 15 996279934</span></i>
            <i class="fa-solid fa-clock d-flex align-items-center ms-4"><span>Seg a Sex 10:00 as 20:00</span></i>
        </div>
    </div>
</div>
<!-- ======= End TopBar ======= -->

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

        <h1 class="logo me-auto me-lg-0"><a href="index.html">Barbearia Nunes</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">Sobre</a></li>
                <li><a class="nav-link scrollto" href="#menu">Serviços</a></li>
                <li><a class="nav-link scrollto" href="#specials">Contatos</a></li> 
                <li><a class="nav-link scrollto" href="#gallery">Galeria</a></li>
            </ul>
        </nav>     
        <!-- .navbar -->
        <a class="book-a-table-btn scrollto d-none d-lg-flex" href="#book-a-table">Clientes</a>
    </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1> Seja Bem-vindo  <br> <span>Barbearia do Rodrigo Nunes</span></h1>
          <h2> Você Na Régua</h2>

          <div class="btns">
            <a href="#menu" class="btn-menu animated fadeInUp scrollto">Nossos serviços</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about text-white">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img src="./../assets/img/serv.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3> SOBRE NOS: </h3>
            <p class="fst-italic">
              
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i>O homem moderno também cuida da sua aparência e a barbearia nunes é o melhor lugar para fazer isso! Temos uma equipe com os melhores profissionais da cidade e condições especiais para você sair daqui de cabelo na régua! Estamos te esperando!</li>
              <li><i class="bi bi-check-circle"></i>Nossa historia começou desde 2016, trazendo alegria e estilo a cada corte, Rodrigo Nunes trabalha com grandes produtos de qualidade, trazendo cuidado e beleza para cada um que por ele passa, deixando sua marca registrada, como um dos melhores barbeiros da cidade. </li>
              <li><i class="bi bi-check-circle"></i> Venha conhecer nossa barbearia e descubra uma nova barba, um novo corte e um novo mundo!</li>
            </ul>
            <p>
              
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
  </main>

<!-- ======= Menu Section ======= -->
<section id="menu" class="menu section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Serviços </h2>
      <p>Cabelos📌 Barba📌 Freestyle📌Sobrancelha📌 Combo📌</p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="menu-flters">
          <li data-filter="*" class="filter-active">Preços e Cortes</li>    
        </ul>
      </div>
    </div>

    <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

      <div class="col-lg-6 menu-item filter-starters">
        <img src="./../assets/img/menu/degrade.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">Degradê Navalhado</a><span>R$ 20,00</span>
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-specialty">
        <img src="./../assets/img/menu/freees.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">Freestyle</a><span>R$ 15,00</span>
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-starters">
        <img src="./../assets/img/menu/combo.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">Corte Barba e Sobrancelha</a><span>R$ 40,00</span>
        </div>
        
      </div>

      <div class="col-lg-6 menu-item filter-salads">
        <img src="./../assets/img/menu/kidis.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">Corte kids</a><span>R$ 15,00</span>
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-specialty">
        <img src="./../assets/img/menu/pppp.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">Pompadour</a><span>R$ 20.00</span>
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-starters">
        <img src="./../assets/img/menu/fade.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">Fade</a><span>R$ 25.00</span>
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-salads">
        <img src="./../assets/img/menu/uuuu.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">Undercut</a><span>R$ 15,00</span>
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-salads">
        <img src="./../assets/img/menu/bbbb.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">Barba</a><span>R$ 15,00</span>
        </div>
      
      </div>

      <div class="col-lg-6 menu-item filter-specialty">
        <img src="./../assets/img/menu/loiro.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">Platinado na Rágua</a><span>R$ 35,00</span>
        </div>
        
      </div>

      <div class="col-lg-6 menu-item filter-specialty">
        <img src="./../assets/img/menu/cabelo.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">Desenhos</a><span>R$ 25,00</span>
        </div>
        
      </div>

      <div class="col-lg-6 menu-item filter-specialty">
        <img src="./../assets/img/menu/sobramcelha.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">Sobrancelha</a><span>R$ 15,00</span>
        </div>

      </div>

      <div class="col-lg-6 menu-item filter-specialty">
        <img src="./../assets/img/menu/pinto.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">Coloração</a><span>R$ 35,00</span>
        </div>
        
      </div>

    </div>

  </div>
</section><!-- End Menu Section -->


    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Galeria</h2>
          <p>Últimos  Trabalhos </p>
        </div>
      </div>

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-1.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="./../assets/img/gallery/cabelo1.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-2.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="./../assets/img/gallery/cabelo2.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-3.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="./../assets/img/gallery/cabelo3.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-4.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="./../assets/img/gallery/cabelo4.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-5.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="./../assets/img/gallery/cabelo5Vgostoso.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-6.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="./../assets/img/gallery/cabeloboy9.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-7.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="./../assets/img/gallery/cabelolagoa6.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-8.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="./../assets/img/gallery/cabelopareceocarlos7.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->



    
    <!-- ======= Specials Section ======= -->
    <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contato</h2>
          <p>Um lugar pra chamar de seu! ✂️</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">FACEBOOK</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">INSTAGRAM</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">TWITTER</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">WHATSAPP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">LINKEDIN</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>RODRIGO NUNES</h3>
                    <p class="fst-italic">@BARBEARIANUNESSINCE2016</p>
                    <p>RODRIGO_NUNES</p>
                    <p>+5515996279934</p>
                    <p> RODRIGO NUNES</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="./../assets/img/lindo.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3></h3>
                    <p class="fst-italic"></p>
                    <p></p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-2.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                    <p class="fst-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>
                    <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-3.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>
                    <p class="fst-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis delectus</p>
                    <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores sed qui veritatis aperiam quia a laborum inventore</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-4.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                    <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                    <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-5.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Specials Section -->


  <!-- ======= Book A Table Section ======= -->
  <section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">

      <div class="section-title">   
        <h2>Reservas</h2>
        <p>Marque seu horário</p>
      </div>

      <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
        <div class="row">
          <div class="col-lg-4 col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Nome" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Please enter a valid email">
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
            <input type="text" class="form-control" name="phone" id="phone" placeholder="Telefone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3">
            <input type="text" name="date" class="form-control" id="date" placeholder="Data" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3">
            <input type="text" class="form-control" name="time" id="time" placeholder="Hora" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3">
            <input type="number" class="form-control" name="people" id="people" placeholder="Quantas Pessoas" data-rule="minlen:1" data-msg="Please enter at least 1 chars">
            <div class="validate"></div>
          </div>
        </div>
        <div class="form-group mt-3">
          <textarea class="form-control" name="message" rows="5" placeholder="Serviços"></textarea>
          <div class="validate"></div>
        </div>
        <div class="mb-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">Cadastrar</button></div>
      </form>

    </div>
  </section><!-- End Book A Table Section -->

  <div id="fila">
    <div class="section-headline text-center">
      <h2>Lista de Espera</h2>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <table class="table text-center mt-5">
          <thead>
            <tr>
              <td># Fila</td>
              <td>Cliente</td>
              <td>Serviço</td>
  
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of fila; let i = index">
              <td>{{i+1}}</td>
              <td>{{item.cliente}}</td>
              <td>{{servicos[item.servico]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>







  